!!! 5
%html
  %head
    %meta{:charset => "utf-8"}/
    %title= data.page.title || "dobleclip"
    = stylesheet_link_tag "bootstrap"
    = javascript_include_tag  "bootstrap"
  %body
    .container-fluid
      .row-fluid
        .span12
          %h2 dobleclip
          %h4 Tu negocio bajo control
      .row-fluid
        .span8
          = yield
        .span4
          %ul
            %li= link_to 'Principal', '/'
            %li= link_to 'Blog', '/blog'
            %li= link_to 'Manual', '/manual'
            %li= link_to 'Contacto', 'http://eepurl.com/A6_jr'
      .row-fluid
        .span8
          %p.text-center
            %small dobleclip &copy; 2013
