---
title: My Site
---

%h1 My Site
%h2 Using:
%ul
  %li= link_to 'Middleman', 'https://github.com/middleman/middleman'
  %li= link_to 'haml', 'http://haml-lang.com/'
  %li= link_to 'twitter-bootstrap', 'http://twitter.github.com/bootstrap/index.html'

%p= "Read the (beta) Middleman documentation #{link_to 'here.', 'http://beta.middlemanapp.com/' }"

